// A fluid grid SASS partial.
// ------------------------------------------------------------------------ //
$min_grid_width: 60em !default;
$max_grid_width: 80em !default;
$grid_columns: 16 !default;
$grid_col_gutter: 10px !default;
$baseline_height: 12px !default;


// FUNCTIONS
// ------------------------------------------------------------------------ //
@function multiply-baseline-height(
  $baseline_height: $baseline_height,
  $factor: 1
) { @return ($baseline_height * $factor); }


@function get-grid-columns(
  $n: 1,
  $context: $grid_columns
) { @return $n * (100% / $context); }


// MIXINS
// ------------------------------------------------------------------------ //
@mixin grid_container {
  position: relative;
  min-width: $min_grid_width;
  max-width: $max_grid_width;
  margin: 0 auto;
  padding: 0 $grid_col_gutter;
  overflow: hidden;
}


@mixin row {
  position: relative;
  z-index: 1;
  float: left;
  width: 100%;
}


@mixin col($n: 1, $context: $grid_columns) {
  float: left;
  width: get-grid-columns($n, $context);
}


@mixin prepend($n: 1, $context: $grid_columns) {
  margin-left: get-grid-columns($n, $context);
}


@mixin append($n: 1, $context: $grid_columns) {
  margin-right: get-grid-columns($n, $context);
}


@mixin box_padding($top_bottom: 0, $left_right: 0) {
  padding: $top_bottom $left_right;
}


// DEFAULT GRID STYLES
// ------------------------------------------------------------------------ //
body {
  line-height: $baseline_height;
}
