#grid_toolbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  width: 200px;
  height: 100%:;;
  background: rgba(0,0,0,0.750);
  color: #fff;
}

#grid_toolbar a {
  color: #999;
}

#grid_toolbar ol {
  padding: 10px;
  border-bottom: solid 1px #eee;
  overflow: hidden;
  list-style: none;
}

#grid_toolbar li {
  margin: 5px 0;
}

#grid_toolbar label {
  display: block;
  font-family: "Helvetica";
  font-size: 12px;
}

#selector_list > li {
  margin-bottom: 20px;
  overflow: hidden;
}

#close {
  display: block;
  width: 32px;
  height: 32px;
  background: #ddd;
  text-indent: -9999px;
}

#close.collapsed {
  position: absolute;
  left: -32px;
}

code {
  font-family: "Andale Mono";
  font-size: 12px;
}

.overlay {
  position: absolute;
  top: 0;
  padding: 0;
  z-index: 1000;
}

.overlay .unit {
  float: left;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.overlay .unit .gutter {
  height: 100%;
  background-color: rgba(255,0,0,0.10);
}
